.#~
*.*~
~.#~
/.#~
.vscode*
.idea/

venv/
Pipfile
Pipfile.lock

# databases - For this tutorial we need this commented
# db.*
db.sqlite3
0001_initial.py

#keys
secrets.json

#Mac
.DS_Store

__pycache__/